services:
  db:
    image: postgres:16-alpine
    container_name: newsify-db
    environment:
      POSTGRES_DB: newsify
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: adminpassword
    volumes:
      - db-data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    restart: unless-stopped

volumes:
  db-data: